# Tweets sentiment analysis using TensorFlow

In [11]:
import pandas as pd

pd.options.plotting.backend = "plotly"

In [8]:
tweets = pd.read_csv('twitter-sentiment-analysis.csv')
tweets.dropna(axis=0, inplace=True)
tweets.describe()

,category
count,162969.000000
mean,0.225442
std,0.781279
min,-1.000000
25%,0.000000
50%,0.000000
75%,1.000000
max,1.000000

In [7]:
CUTOFF = 0.8
cutoff_index = int(len(tweets) * CUTOFF)

data_train = tweets.iloc[0:cutoff_index]
data_test = tweets.iloc[cutoff_index:]

data_train.shape, data_test.shape

((130384, 2), (32596, 2))

In [14]:
tweets.groupby('category').count().plot(
                                        kind='bar',
                                        title='Occurences of each category'
)

Unsupported

In [16]:
tweet_len = pd.Series([len(tweet.split()) for tweet in tweets['clean_text']])
tweet_len.plot(
               kind='box',
               title='Distribution of tweets length'
)

Unsupported